.smallbox-contenedor {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.smallbox-foto {
  float: left;
  margin-top: 50px;
  margin-right: 15px;
}

.smallbox-foto img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.smallbox-contenido {
  float: left;
}

.smallbox-textoContenedor span {
  display: block;
}

.smallbox-titulo {
  font-size: 20px;
  color: #5b5b5b;
}

.smallbox-subtitulo {
  color: #291818;
  font-size: 18px;
}

.smallbox-colorCaja {
  background-color: #82b800;
  margin-top: 15px;
  color: white;
  padding-left: 15px;
  height: 60px;

  border-radius: 5px;
  overflow: hidden;

  /* Centra el texto horizontalmente */
  /* Tiene que tener el mismo valor que el height */
  line-height: 60px;
}

.smallbox-colorTexto {
  font-size: 16px;
  float: left;
}

.smallbox-colorIcono {
  float: right;
  width: 60px;
  background-color: #77ab00;
  padding-top: 5px;
  height: 60px;
  text-align: center;
  margin-left: 12px;

  /* Centra el texto horizontalmente */
  /* Tiene que tener el mismo valor que el height */
  line-height: 60px;
}

.smallbox-sombra {
  width: 90%;
  height: 2px;

  margin-top: 20px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 100%;

  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.smallbox-pico {
  content: " ";
  float: left;
  position: relative;
  top: 38px;
  left: 0px;

  width: 0;
  height: 0;

  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid #82b800;
  border-left: 0px solid #82b800;
}
