html {
  margin: 0px;
}

body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bigbox-fondo {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.4;

  z-index: 998;
}

.bigbox-contenedor {
  position: fixed;
  top: 150px;
  left: 150px;

  width: 600px;

  background-color: #f4f4f4;
  border: 1px solid #a9a9a9;

  z-index: 999;
}

.bigbox-cerrar {
  float: right;
  width: 45px;
  height: 45px;
  color: white;
  text-align: center;
  background-color: #5a5e62;
  cursor: pointer;

  font-size: 20px;
  padding-top: 6px;
}

.bigbox-circulo {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 24px;

  border: 5px solid white;
  border-radius: 100%;

  padding-top: 22px;

  color: #4d4e52;
}

.bigbox-contenido {
  margin-top: 20px;
}

.bigbox-contenido span {
  display: block;
}

.bigbox-titulo {
  font-size: 38px;
}

.bigbox-texto {
  font-size: 18px;
  color: #858585;
}

.bigbox-boton {
  width: 200px;
  margin-top: 85px;
  margin-bottom: 20px;
  padding: 15px 10px 15px 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 30px;
  background-color: #25ae90;
}

.bigbox-boton:focus {
  outline: 0;
}

.bigbox-boton:hover {
  background-color: #1e9279;
}
