.slideshow {
  /* background-color: red; */
  width: 600px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 10px;
}

.slideshow ul {
  padding: 0;
  list-style-type: none;
  margin-left: 0px;
  display: flex;
}

.slideshowButtons {
  width: 600px;
  display: flex;
  position: relative;
  margin-left: 10px;
  top: -40px;
}

.slideshowButtons .slideButton {
  cursor: pointer;
  border-radius: 100%;
  width: 15px;
  height: 15px;

  margin-right: 3px;
  background-color: #a1a1a1;
}
